@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&family=Playfair+Display:wght@900&display=swap');

body,
html {
  height: 100%;
  font-family: 'Muli', sans-serif;
  min-width: 300px;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.content-wrapper a {
  color: unset;
}

a:hover {
  text-decoration: none;
  outline: 0;
  color: unset;
}

.side-wrapper {
}

.titles-family {
  font-family: 'Playfair Display', serif;
}

.content-wrapper.col {
  padding: 0;
}

.about {
  -webkit-animation: fading 500ms ease-in;
  -moz-animation: fading 500ms ease-in;
  -o-animation: fading 500ms ease-in;
  animation: fading 500ms ease-in;
  font-weight: 900;
}

.about-copy {
  -webkit-animation: fading 500ms ease-in;
  -moz-animation: fading 500ms ease-in;
  -o-animation: fading 500ms ease-in;
  animation: fading 500ms ease-in;
}

.social {
  -webkit-animation: fading 500ms ease-in;
  -moz-animation: fading 500ms ease-in;
  -o-animation: fading 500ms ease-in;
  animation: fading 500ms ease-in;
}

.text-slide-2 {
  -webkit-animation: fading 500ms ease-in;
  -moz-animation: fading 500ms ease-in;
  -o-animation: fading 500ms ease-in;
  animation: fading 500ms ease-in;
}

.contact_btn {
  padding: 15px 65px;
  border-radius: 100px;
  background-color: #3b80fe;
  -webkit-animation: fading 1s ease-in;
  -moz-animation: fading 1s ease-in;
  -o-animation: fading 1s ease-in;
  animation: fading 1s ease-in;
  font-size: 16px;
}

.contact_btn:hover {
  background-color: #1660e7;
  box-shadow: 0 16px 32px -6px rgba(0, 0, 0, .2);
  color: #fff;
}

.github_button {
  width: 27px;
  height: 27px;
  margin-right: 20px;
  padding: 0px;
  background-color: transparent;
  background-image: url('https://img.icons8.com/fluent/48/000000/github.png');
  background-position: 0px 0px;
  background-size: 27px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 0.5;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  cursor: pointer;
}

.github_button:hover {
  background-attachment: scroll;
  opacity: 1;
}

.spotify_button {
  width: 27px;
  height: 27px;
  margin-right: 20px;
  padding: 0px;
  background-color: transparent;
  background-image: url('https://img.icons8.com/metro/52/000000/spotify.png');
  background-position: 0px 0px;
  background-size: 27px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 0.5;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  cursor: pointer;
}

.spotify_button:hover {
  background-image: url('/assets/icons/spotify.svg');
  background-size: 27px;
  background-attachment: scroll;
  opacity: 1;
}

.twitter_button {
  width: 24px;
  height: 24px;
  margin-right: 25px;
  padding: 0px;
  background-color: transparent;
  background-image: url("https://uploads-ssl.webflow.com/57c5dd245cc3aa553acf1266/57c9eafb8bb9d6ee1a1e6ac4_twitter.png");
  background-position: 0px 0px;
  background-size: 24px;
  background-repeat: no-repeat;
  opacity: 0.5;
  -webkit-transition: all 900ms ease-out;
  transition: all 900ms ease-out;
}

.twitter_button:hover {
  background-image: url('https://uploads-ssl.webflow.com/57c5dd245cc3aa553acf1266/57c9eafb6ca51954384a7b98_twitter%20hover.png');
  background-size: 25px;
  opacity: 1;
}

.linkedin_button {
  width: 27px;
  height: 27px;
  margin-right: 25px;
  padding: 0px;
  background-color: transparent;
  background-image: url("https://img.icons8.com/ios-filled/96/000000/linkedin.png");
  background-position: 0px 0px;
  background-size: 27px;
  background-repeat: no-repeat;
  opacity: 0.5;
  -webkit-transition: all 900ms ease-out;
  transition: all 900ms ease-out;
}

.linkedin_button:hover {
  background-image: url('/assets/icons/linkedin.svg');
  background-size: 27px;
  opacity: 1;
}

.medium_button {
  width: 25px;
  height: 25px;
  padding: 0px;
  background-color: transparent;
  background-image: url("https://uploads-ssl.webflow.com/57c5dd245cc3aa553acf1266/57c9eafbad17c7800714e37c_medium.png");
  background-position: 0px 0px;
  background-size: 25px;
  background-repeat: no-repeat;
  opacity: 1;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.medium_button:hover {
  background-image: url('https://uploads-ssl.webflow.com/57c5dd245cc3aa553acf1266/57c9eafb8bb9d6ee1a1e6ac5_medium%20hover.png');
  background-size: 25px;
  opacity: 1;
}

.content-wrapper {
  color: #fff;
}

.overcapture {
  width: 100%;
  height: auto;
  padding: 65px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4b93d), to(#f4b93d));
  background-image: linear-gradient(180deg, #f4b93d, #f4b93d);
}

.quikstories {
  width: 100%;
  height: auto;
  padding: 65px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#005ba9), to(#005ba9));
  background-image: linear-gradient(180deg, #005ba9, #005ba9);
}

.dw_img {
  margin-left: 0px;
}

.image {
  width: 65%;
  margin-bottom: 35px;
  margin-left: 28%;
}

.w-clearfix:before,
.w-clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.image-3 {
  width: 50%;
  margin-left: 28%;
}

.quik_img {
  display: block;
  width: 75%;
  height: 75%;
  margin: 0 auto -60px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

.title_sub {
  margin-top: -50px;
  margin-left: 0px;
  float: none;
  clear: none;
  font-size: 12px;
  line-height: 12px;
}

.title {
  margin-top: 5px;
  margin-left: 0px;
  float: none;
  font-weight: 600;
}

.gp_watch_github {
  width: 60px;
  height: 60px;
  margin-top: -50px;
  margin-right: 10px;
  padding: 0px;
  float: right;
  background-color: transparent;
  background-image: url('https://img.icons8.com/fluent/48/000000/github.png');
  background-position: 0px 0px;
  background-size: 60px;
  background-repeat: no-repeat;
  opacity: 0.6;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

@media (max-width: 991px) {
  .sidebar-wrapper {
    position: static;
    width: 100%;
    height: 750px;
    padding-right: 55px;
    padding-left: 55px;
  }

  .about_container {
    position: static;
    width: 65%;
  }
}

@-webkit-keyframes fading {
  0% {
    -webkit-opacity: 0;
    -webkit-transform: translate(-25px, 0px);
  }

  100% {
    -webkit-opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}

@-moz-keyframes fading {
  0% {
    -moz-opacity: 0;
    -moz-transform: translate(-25px, 0px);
  }

  100% {
    -moz-opacity: 1;
    -moz-transform: translate(0px, 0px);
  }
}

@-o-keyframes fading {
  0% {
    -o-opacity: 0;
    -o-transform: translate(-25px, 0px);
  }

  100% {
    -o-opacity: 1;
    -o-transform: translate(0px, 0px);
  }
}

@keyframes fading {
  0% {
    opacity: 0;
    transform: translate(-25px, 0px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}


