@font-face {
  font-family: 'Just Sunday';
  src: url('/fonts/Just-Sunday.ttf');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  margin: 0 auto;
}
