@import 'css/variables.scss';

.container {
  span {
    display: block;
    &.title {
      font-family: Just Sunday, sans-serif;
      font-size: 5rem;
    }
  }

  .logo {
    .subtitle {
      font-weight: 700;
      font-size: 2rem;
      margin: 0.75rem 0;
    }
  }

  .description {
    &__toggle {
      display: flex;
      gap: 1.5rem;
      margin: 4rem 0;
    }

    &__about-me {
      width: 65%;
      line-height: 1.5rem;
    }
  }

  .contacts {
    width: 20%;
    float: right;
    & > * {
      &:not(:last-child) {
        margin-bottom: 1.25rem;
      }
    }

    .social-networks {
      display: flex;
      gap: 1rem;
      img {
        height: 2rem;
        width: 2rem;
        cursor: pointer;
      }
    }
  }

  .work-experience {
    width: 58%;
    p {
      margin: 0;
    }
    margin-top: 72px;
    &__content {
      margin-top: 40px;
      margin-bottom: 32px;
      & > * {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
    &__date {
      color: $gray;
      font-weight: 200;
    }
    &__title {
      font-weight: 700;
    }

    &__place {
      display: flex;
      gap: 0.75rem;
      span {
        &:first-child {
          font-weight: 700;
        }
        &:last-child {
          font-weight: 200;
        }
      }
    }

    &__description {
      line-height: 1.5rem;
    }
  }

  .education {
    float: right;
    width: 20%;
    margin-top: 2.75rem;
    text-align: center;
    line-height: 1.5rem;
    &__content {
      margin-top: 50px;
      margin-bottom: 32px;
      & > * {
        &:not(:last-child) {
          margin-bottom: 9px;
        }
      }
    }
  }

  .skills {
    margin-top: 90px;
    &__items {
      margin-bottom: 1.5rem;
    }
    &__content {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1.5rem;
    }
    &__title {
      font-weight: 700;
    }

    &__description {
      margin-top: 8px;
    }
  }
}
