.container {
  span {
    display: block;
    &.title {
      font-family: Just Sunday, sans-serif;
      font-size: 5rem;
    }
  }

  .logo {
    .subtitle {
      font-weight: 700;
      font-size: 2rem;
      margin: 0.75rem 0;
    }
  }

  .description {
    &__toggle {
      display: flex;
      gap: 1.5rem;
      margin: 4rem 0;
    }

    &__about-me {
      width: 65%;
      line-height: 1.5rem;
    }
  }

  .contacts {
    width: 20%;
    float: right;
    & > * {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .social-networks {
      display: flex;
      gap: 1rem;
      img {
        height: 2rem;
        width: 2rem;
        cursor: pointer;
      }
    }
  }

  .work-experience {
    &__date {
      color: #828282;
      font-weight: 200;
    }
    &__title {
      font-weight: 700;
    }

    &__place {
      display: flex;
      gap: 1rem;
      span {
        &:first-child {
          font-weight: 700;
        }
        &:last-child {
          font-weight: 200;
        }
      }
    }

    &__description {
      line-height: 1.5rem;
    }
  }
}
