@import 'src/css/variables.scss';

ul {
  &.navbar {
    margin-top: 5rem;
    list-style: none;
    display: flex;
    gap: 40px;
    @media screen and (max-width: 768px) {
      gap: 20px;
    }
    justify-content: flex-end;
    font-weight: 700;
    font-size: 18px;
    a {
      color: unset;
      text-decoration: none;
    }
    & > * {
      cursor: pointer;
    }
  }
}

li {
  &.active {
    position: relative;
    &::before {
      transform: translateX(-50%);
      border-radius: 100%;
      position: absolute;
      background: $primary;
      bottom: -10px;
      height: 8px;
      content: '';
      width: 8px;
      left: 50%;
    }
  }
}
