@import 'src/css/variables.scss';

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  span {
    font-size: 1rem;
    font-weight: bold;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  border: unset;
  border-radius: 0.5rem;
  &.primary {
    background-color: $primary;
    color: $card-bg-color;
    box-shadow: 5px 4px 8px 0px $card-bg-color;
  }
  &.tertiary {
    background-color: unset;
  }
}

.fav-button {
  cursor: pointer;
  border-radius: 50%;
  padding: 1rem;
  background-color: $primary;
  box-shadow: 5px 4px 8px 0px $card-bg-color;
  border: none;
  .left-icon {
    font-size: 2rem;
  }
  color: $card-bg-color;

  position: fixed;
  bottom: 2rem;
  right: 2rem;
  @media screen and (max-width: 768px) {
    bottom: 5rem;
  }
}

.left-icon {
  font-size: 1.25rem;
}
