.container {
  margin: 4rem 0;
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .card-item {
    margin-bottom: 2rem;
  }
  .header {
    text-align: center;
  }

  .title {
    font-size: 3rem;
    font-weight: bold;
  }

  .description {
    margin: 3rem 0;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
