@import 'src/css/variables.scss';

.content {
  > div {
    margin: 3rem 0;
  }
  span {
    display: block;
    margin: 0.5rem 0;
  }
  .connect-btn {
    & > div {
      @media screen and (max-width: 768px) {
        justify-content: center;
        align-items: center;
      }
    }
  }
  .profile {
    margin: 2rem 0;
  }
}

.claim-btn {
  margin-top: 3rem;
}
