@import 'src/css/variables.scss';

.content {
  > div {
    padding: 3rem 0;
  }
  span {
    display: block;
    margin: 0.5rem 0;
  }
  .connect-btn {
    & > div {
      @media screen and (max-width: 768px) {
        justify-content: center;
        align-items: center;
      }
    }
  }
  .profile {
    margin: 2rem 0;
  }

  .form {
    display: flex;
    width: 25%;
    @media screen and (max-width: 768px) {
      width: unset;
    }

    .input {
      font-size: 1rem;
      border-radius: 0.5rem 0 0 0.5rem;
    }
    .button {
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }
}

.claim-btn {
  margin-top: 3rem;
}
